@use "../../styles/colors";

.container {
    margin: 2rem 0;
    background-color: colors.$background_paper;
    border-radius: 15px;
}
.numberWrapper {
    background-color: rgba(colors.$primary_main, 10%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}
.number {
    color: colors.$text_primary;
    padding: 5px 40px;
    font-size: 72px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 0;
    background-color: rgba(colors.$primary_main, 35%);
}


.userWrapper {
    padding: 20px;
}

.dark {
    background-color: rgba(colors.$primary_main, 15%);
}

.light {
    background-color: rgba(colors.$primary_main, 50%);
}