@use "../../styles/colors";

.media {
    margin-top: 10px;
    
}

.liveWrapper {
    width: 309px;
    position: absolute;
}

.badge {
    background-color: colors.$secondary_main !important;
    position: absolute;
    bottom: 270px;
    left: 15px;
    padding: 2px 5px;
    border-radius: 5px;
    color: black;
    font-size: 0.65rem;
    font-weight: 800;
    display: flex;
    align-items: center;
}

.circle {
    width: 10px !important;
    margin-right: 4px !important;
}

.countdown {
    background-color: colors.$secondary_main !important;
    position: absolute;
    width: 100% ;
    color: black;
    font-weight: 600;
    text-align: center;
    bottom: 25px;
    border-radius: 0 0 10px 10px;
    padding: 5px 0;

}

.cardContent {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.likes {
    margin-left: auto;
    color: colors.$secondary_main !important;
    border-color: colors.$secondary_main !important;

}

.icon {
    color: colors.$secondary_main !important;
    width: 15px !important;
    margin-left: 10px !important;
}

.title{
    color: colors.$text_primary !important;
    font-size: 1rem;
    margin: 0px;
    font-weight: 600 !important;
}

.price{
    color: colors.$secondary_main !important;
    font-size: 0.8rem;
    margin: 0px;
    font-weight: 400 !important;
}