@use "../../styles/colors";

.step {
    margin: 2rem 0;
    background-color: colors.$background_paper;
    border-radius: 15px;
}
.numberWrapper {
    background-color: rgba(colors.$primary_main, 10%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}
.number {
    border-radius: 20px;
    color: colors.$text_primary;
    padding: 0 70px;
    font-size: 72px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 0;
}

.infoWrapper {
    padding: 10px 20px;
}

.description {
    font-weight: 400;
    font-size:12px;
    color: colors.$text_secondary;
    word-wrap: break-word;
}